{% extends 'base.html' %}
{% block content %}
<section class="blog-section page-section">
    <div class="container">
        <div class="row">
            <div class="col-xlarge-1"></div>
            <div class="col-xlarge-10">
                <ul class="blog-list">
                    {% for article in articles %}
                    <li>
                        <div class="blog-item wide-blog-item">
                            <a href="/kateqoriya/{{ article.category }}/{{ article.slug }}">
                                <img src="{{ article.image }}" alt="" class="image"/></a>
                            <h3 class="font-reg"><a href="">{{ article.title }}</a></h3>
                            <div class="blog-item-meta">
                                <span>{{ article.post_date }}</span>
                            </div>
                            <div class="blog-item-meta">
                                <span style="text-transform: capitalize;">{{ article.category }}</span>
                            </div>
                            <div class="page-content">
                                <p>{{ article.description }}</p>
                            </div>
                            <a href="/kateqoriya/{{ article.category }}/{{ article.slug }}" class="primary-button font-reg hov-bk">Ardını Oxu</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <section class="post-navigation">
                    <div id="post-nav-main" class="clearfix">
                        <a href="" id="post-nav-prev" class="post-nav-item">
                            <p class="font-reg"><i class="fas fa-long-arrow-alt-left"></i>Əvvəlki Məqalə</p>
                        </a>
                        <a href="" id="post-nav-next" class="post-nav-item">
                            <p class="font-reg">Sonrakı Məqalə<i class="fas fa-long-arrow-alt-right"></i></p>
                        </a>
                    </div>
                </section>
            </div>
            <div class="col-xlarge-1"></div>
        </div>
    </div>
</section>
{% endblock %}